RewriteEngine on
# The below rule causes redirection infinite loop !
# RewriteRule .* public/$0 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ public/index.php [L]
# both behave identical
#RewriteRule .* public/index.php [L]

DirectoryIndex index.php
